<body>
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-button size="large" href="/touchid" routerLink="/valikko" class="ios">Menu</ion-button>
      <ion-title>Contact</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-app>
      <ion-content fullscreen>
        <ion-card>
          <ion-card-header>
          </ion-card-header>
          <ion-card-content>
            <img src="../../assets/Mame.jpg" /> 
            Marko Hietaranta's e-mail:
            <a href = "mailto:metalmake66@gmail.com">metalmake66<br>@gmail.com</a><br>
            <ion-button size="large" href="/touchid" routerLink="/dashboard" class="ios" expand="block" >Back to start</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ion-app>
  </body>
  
  
